<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Product Addition Test Suite" verbose="1" >
    <test name="Product Addition Test in Chrome" >
        <parameter name="driverParam" value="chrome"></parameter>
        <classes>
            <class name="com.qatestlab.ProductAdditionTest"/>
        </classes>
    </test>

    <test name="Product Addition Test in Firefox" >
        <parameter name="driverParam" value="firefox"></parameter>
        <classes>
            <class name="com.qatestlab.ProductAdditionTest"/>
        </classes>
    </test>
</suite>