<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Add Product. Cross Browser Testing" verbose="1" >
    <test name="Product Addition. Test in Chrome" >
        <parameter name="driverParam" value="chrome"></parameter>
        <classes>
            <class name="com.qatestlab.tests.ProductAdditionTest"/>
        </classes>
    </test>
</suite>